.square {
  border: 1px solid black;
  aspect-ratio: 1 / 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-board {
  max-width: calc(100vw * 0.4);
}

.dropdown-item {
  cursor: pointer;
}

.nav-link {
  cursor: pointer;
}
